.field {
 margin-top: .5rem;
 display: flex;
 align-items:center;
 gap:5rem;
 background-color: skyblue;
 border-radius: 4px;
 padding: .5em 10em;
}

#title{
  font-family: monospace;
  color:red;
  font-size: 3rem;
  text-decoration:underline;
}

marquee{
  background-color: dodgerblue;
  padding:1rem;
  color: orange;
  font-size:2rem;
}

*{
  text-decoration: none;
  margin:0px;
  padding-top:0px;
}

p{
  font-size:3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 1rem;
}

h1{
  text-align: center;
  text-decoration:underline;
  font-size:4rem;
  color: orangered;
}

footer{
  text-align: center;
  font-size: 1.5rem;
  background-color: powderblue;
  padding:1.5rem;
}

h4{
  text-decoration: underline;
  color: lightsalmon;
  font-size:3rem;
}